.place__link {
  margin: 12px 0 0;
  padding: 0;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  -webkit-transition: opacity 0.8s linear;
  -o-transition: opacity 0.8s linear;
  transition: opacity 0.8s linear;
}

.place__link:hover {
  opacity: 0.8;
}
